<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Music catalog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav th:replace="navbar.html:: nav"></nav>
<div class="container" style="margin-top: 40px">
    <form th:action="@{/records/add}" enctype="multipart/form-data" th:object="${recordDto}" method="post">
        <div class="form-group">
            <h4>Tytuł płyty</h4>
            <label for="title" class="control-label"></label>
            <input id="title"
                   class="form-control"
                   th:field="*{title}"/>
        </div>
        <div class="form-check" style="margin-top:30px;">
            <input class="form-check-input" type="checkbox" value="" id="isReproduction" th:field="*{isReproduction}">
            <label class="form-check-label" for="isReproduction">
                Reprodukcja?
            </label>
        </div>

        <div style="margin-top:30px;">
            <h4 >Wybierz wykonawce</h4>
            <th:block th:each="performer, stat : ${performers}">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:value="${performer.id}"
                           th:field="*{performerIdArray[__${stat.index}__]}" id="performerCheck">
                    <label class="form-check-label" for="performerCheck" th:text="${performer.name}"></label>
                </div>
            </th:block>
        </div>
        <div style="margin-top:30px;">
            <h4 >Wybierz kompozytora</h4>
            <th:block th:each="composer, stat : ${composers}">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:value="${composer.id}"
                           th:field="*{composerIdArray[__${stat.index}__]}" id="composerCheck">
                    <label class="form-check-label" for="composerCheck" th:text="${composer.name}"></label>
                </div>
            </th:block>
        </div>
        <div style="margin-top:30px;">
            <h4 >Wybierz gatunek</h4>
            <th:block th:each="musicType, stat : ${musicTypes}">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:value="${musicType.id}"
                           th:field="*{musicTypeIdArray[__${stat.index}__]}" id="musicTypeCheck">
                    <label class="form-check-label" for="musicTypeCheck" th:text="${musicType.name}"></label>
                </div>
            </th:block>
        </div>
        <div class="form-group" style="margin-top:30px;">
            <h4>Wybierz format</h4>
            <label for="format"></label>
            <select class="form-control" id="format" th:field="*{formatId}">
                <option th:each="format : ${formats}"
                        th:utext="${format.name}"
                        th:value="${format.id}">composer
                </option>
            </select>
        </div>
        <div class="form-group" style="margin-top:30px;">
            <h4>Rok</h4>
            <label for="year" class="control-label"></label>
            <input id="year"
                   class="form-control"
                   th:field="*{year}"/>
        </div>
        <div class="form-group" style="margin-top:30px;">
            <h4>Rok</h4>
            <label for="recordAmount" class="control-label"></label>
            <input id="recordAmount"
                   class="form-control"
                   th:field="*{recordAmount}"/>
        </div>
        <div class="form-group" style="margin-top:30px;">
            <h4>Wybierz zdjęcie</h4>
            <input type="file" class="form-control-file" id="photo" th:field="*{photo}">
        </div>
        <div class="form-group" style="margin-top:30px;">
            <h4>Uwagi</h4>
            <label for="descripton"></label>
            <textarea class="form-control" id="descripton" rows="3" th:field="*{description}"></textarea>
        </div>
        <div class="form-group" style="margin-top:30px;">
            <button type="submit" class="btn btn-outline-dark">Dodaj</button>
        </div>
    </form>
</div>
</body>
</html>

